/*
Colours used:
Primary Colour (White): #FFFFFF;
Primary Colour (Off Black): #1D1D1B;
Secondary Colour (Turquoise): #00FFED
Secondary Colour (Neon Green): #00FF80
Secondary Colour (Grey): #929292
Secondary Colour (Light Grey): #EEEEEE
Inktank Background Colour (Rose): #FAF3EB
Inktank Font Colour (Dark Rose): #E4D0C7
Inktank Font Colour (Light Rose): #F3EAE1
*/
* {
  box-sizing: border-box;
}

/* setting the default width of an element to include the padding and the border */
body {
  background-color: #ffffff;
  font-family: 'Muli', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  /* Sets the font size to 14px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #1D1D1B;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: 'Libre Baskerville';
  line-height: 1.4;
}

h3, h4, p, a, ul, ol {
  font-family: 'Muli';
  line-height: 1.4;
}

p, a, ul, ol {
  font-weight: 200;
}

h1 {
  font-size: 1.95em;
  font-weight: 400;
}

h2 {
  font-size: 1.55em;
  font-weight: 400;
  border-bottom: 16px solid #00FF80;
  display: inline-block;
  height: 32px;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
  padding-top: 15px;
}

h4 {
  font-size: 0.75em;
  font-weight: 300;
}

ul, ol {
  padding-left: 20px
}

.center {
  text-align: center;
}

a {
  display: inline-block;
  color: #1D1D1B;
  text-decoration: none;
  /* No underlining */
  border-bottom: 8px solid #00FF80;
  height: 18px;
  transition-duration: 0.2s
}

a:visited {
  /* visited link */
  color: #929292;
}

a:hover,
a:focus {
  color: #1D1D1B;
  text-decoration: none;
  /* No underlining */
  border-bottom: 8px solid #00FFED;
  height: 18px;
}

a:active,
a:focus {
  /* selected link */
  font-weight: 700;
}

.picture_link a, .picture_link a:hover,
.picture_link a:focus {
  border-bottom: none;
}

.navigation,
.logo,
.logo:hover {
  border-bottom: none;
  /* no border like a */
}

.navigation:hover {
  color: #1D1D1B;
  border-bottom: 10px solid #00FF80;
  height: 23px;
}

.navigation:focus {
  border-bottom: 10px solid #00FFED;
}

.icon:focus,
.icon:hover,
.icon {
  border-bottom: none;
}

.button {
  display: inline;
  background-color: #FFFFFF;
  font-weight: 700;
  padding: 10px;
  border: 3px solid #1D1D1B;
  transition-duration: 0.2s;
}

.button:visited {
  /* visited link */
  color: #1D1D1B;
}

.button:hover {
  background-color: #1D1D1B;
  border: 3px solid #1D1D1B;
  color: #FFFFFF !important;
}

.button:active,
.button:focus {
  background-color: #1D1D1B;
  color: #00FFED !important;
}

.button_cv {
  display: inline;
  font-weight: 700;
  padding: 10px 28px;
  border: 3px solid #1D1D1B;
  transition-duration: 0.2s
}

.button_cv:visited {
  color: #1D1D1B;
}

.button_cv:hover {
  background-color: #1D1D1B;
  border: 3px solid #1D1D1B;
  color: #FFFFFF !important;
}

.button_cv:active,
.button_cv:focus {
  background-color: #1D1D1B;
  color: #00FFED !important;
  border-bottom: none
}

header {
  background-color: #FFFFFF;
  padding: 10px 0 4px 0;
  box-shadow: 0px 3px 20px 0px rgba(50, 50, 50, 0.15);
  position: fixed;
  /* header stays in position when scrolling */
  width: 100%
}

/* Layout styling */
.container {
  padding: 0 15px;
  /* overall padding for the website */
}

.row {
  margin: 25px 0;
}

.logo {
  max-width: 150px;
}

.navtoggle li:not(:last-child) {
  display: none;
  /* hides navigation except hamburger*/
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 20px;
}

.navtoggle.responsive li  {
  display: block;
  /* shows complete menu when hamburger has been clicked */
}

.navtoggle.responsive nav {
  text-align: center;
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;

}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  text-transform: uppercase;
  color: #1D1D1B;
}

main {
  padding-top: 59.5px;
}

footer {
  background-color: #FAFAFA;
  text-align: center;
}

footer>svg {
  width: 100%
    /* size of social icons */
}

/*INDEX modifications*/
#work .row {
  margin-bottom: 50px;
}

#work {
  margin-top: 20px
}

#hero {
  text-align: center;
  background-color: #FAFAFA;
  padding: 25px 0;
  display: inline-block;
  width: 100%;
}

.inktank_logo {
  margin-top: 25px;
  max-width: 100px;
}

.resolute_logo {
  margin-top: 25px;
  max-width: 100px;
}

/*ABOUT modifications*/
.profile_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%
}

/*INKTANK modifications*/
#inktank h2 {
  font-family: 'Muli';
  line-height: 1.4;
  color: #E4D0C7;
  font-weight: 800;
  font-size: 3em;
  margin-top: 20px;
  border-bottom: none;
}

#inktank h3 {
  font-family: 'Libre Baskerville';
  line-height: 1.4;
  color: #1D1D1B;
  font-weight: 300;
  font-size: 1.1em;
}

#inktank_colour_1,
#inktank_colour_3,
#inktank_colour_5,
#inktank_colour_7,
#inktank_colour_9,
#inktank_colour_11 {
  background-color: #FAF3EB;
  padding: 30px 0;
  display: inline-block;
  width: 100%;
}

#inktank_colour_2,
#inktank_colour_4,
#inktank_colour_6,
#inktank_colour_8,
#inktank_colour_10,
#inktank_colour_12 {
  background-color: #FFFFFF;
  padding: 30px 0;
  display: inline-block;
  width: 100%;
}

.tagline {
  margin-top: 5px
}

.inktank_mockup1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 50%
}

.intro_description_l {
  display: none
}

.arrow_left, .arrow_right {
  display: none
}

.inktank_mockup2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%
}


/*ANIMATION*/
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  /*GENERAL modifications*/
  .container {
    padding: 0 30px;
    /* overall padding for the website */
  }

  header {
    text-align: unset;
    padding: 22px 0 12px 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
    /* makes navigation visible again*/
  }

  .navtoggle li:last-child {
    display: none;
    /* hides hamburger menu*/
  }

  nav {
    width: auto;
    float: right;
    padding-top: 8px
  }

  nav>ul>li {
    display: inline-block;
    padding: 0 0 0 25px;
  }

  a {
    border-bottom: 10px solid #00FF80;
    height: 22px;
  }

  a:hover,
  a:focus {
    border-bottom: 10px solid #00FFED;
    height: 22px;
  }

  main {
    padding-top: 80px;
  }

  body {
    font-size: 18px
  }

  h2 {
    border-bottom: 20px solid #00FF80;
    display: inline-block;
    height: 40px;
  }

  #work p,
  #contact p,
  #about p, #about ul,
  #inktank p, #inktank ul, #inktank ol {
    font-size: 0.9em
  }

  .col-md-5 {
    width: 41.67%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /*INDEX modifications*/
  #hero span {
    display: block;
  }

  /*INKTANK modifications*/
  #inktank h2 {
    font-size: 4.5em;
  }

  #inktank h3 {
    font-size: 0.8em;
  }

  #inktank .inktank_logo {
    max-width: 200px;
  }

  .intro_title {
    display: block;
    margin-top: 0;
  }

  .intro_description_l {
    display: unset;
    display: block;
    margin-top: 70px;
  }

  .intro_description_l h3 {
    padding: 0;
  }

  .intro_description_l>.row {
    margin-top: 0
  }

  #inktank_colour_2 {
    display: none;
  }

  .inktank_mockup1 {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
  }

  #inktank_colour_3 .row {
    margin: 0
  }

  #inktank_colour_3 .arrow_right {
    display: unset;
    display: block;
    margin-top: 60%;
    width: 40%
  }

  #inktank_colour_3 .arrow_left {
    display: unset;
    display: block;
    margin-top: 100%;
    margin-left: 60%;
    width: 40%
  }

  #inktank_colour_8 .row {
    margin: 0
  }

  #inktank_colour_8 .arrow_right {
    display: unset;
    display: block;
    margin-top: 60%;
    margin-right: 50%;
    width: 40%
  }

  #inktank_colour_8 .arrow_left {
    display: unset;
    display: block;
    margin-top: 120%;
    margin-left: 60%;
    width: 40%
  }

  #inktank_colour_10 .row {
    margin: 0
  }

  #inktank_colour_10 .arrow_right {
    display: unset;
    display: block;
    margin-top: 80%;
    margin-right: 50%;
    width: 40%
  }

  .affinity_map_1 {
    display: block;
    width: 80%;
    margin: 10px auto;
  }

  .affinity_map_2 {
    display: block;
    width: 80%;
    margin: 10px auto;
  }

  .card_sort_1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .sitemap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .inktank_mockup2 {
    width: 80%;
  }

  .prototype_evolution {
    display: block;
    width: 80%;
    margin: auto;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  /*GENERAL modifications*/
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    max-width: 200px;
  }

  nav {
    padding-top: 16px
  }

  main {
    padding-top: 82.5px;
  }

  footer {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.67%;
  }

  /*INDEX modifications*/
  #hero {
    padding: 50px 80px;
  }

  #work {
    display: block;
    margin: 40px 0;
  }

  .inktank_logo {
    margin-top: 110px;
    max-width: 150px;
  }

  .resolute_logo {
    margin-top: 110px;
    max-width: 150px;
  }

  /*ABOUT modifications*/
  .profile_image {
    padding-top: 20px;
    width: 60%
  }

  #about .center {
    text-align: unset;
  }

  /*INKTANK modifications*/
  #inktank h2 {
    font-size: 6.5em;
  }

  #inktank h3 {
    font-size: 1em;
    margin-top: 40px;
  }

  #inktank .inktank_logo {
    margin-top: 50px;
    max-width: 300px;
  }

  .intro_description_l {
    display: unset;
    display: block;
    margin-top: 90px
  }

  .inktank_mockup1 {
    display: block;
    width: 70%;
    margin: auto;
  }

  #inktank_colour_3 .arrow_right {
    display: unset;
    display: block;
    margin-top: 30%;
    width: 40%
  }

  #inktank_colour_3 .arrow_left {
    display: unset;
    display: block;
    margin-top: 40%;
    margin-left: 60%;
    width: 40%
  }

  #inktank_colour_8 .arrow_right {
    display: unset;
    display: block;
    margin-top: 35%;
    margin-right: 50%;
    width: 40%
  }

  #inktank_colour_8 .arrow_left {
    display: unset;
    display: block;
    margin-top: 60%;
    margin-left: 60%;
    width: 40%
  }

  #inktank_colour_10 .arrow_right {
    display: unset;
    display: block;
    margin-top: 30%;
    margin-right: 50%;
    width: 40%
  }

  .affinity_map_1 {
    display: block;
    width: 80%;
    margin: 10px auto;
  }

  .quotes_1,
  .quotes_2 {
    display: block;
    margin: auto;
    width: 80%;
  }

  .user_flow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .card_sort_2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .card_sort_1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .sitemap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .affinity_map_2 {
    display: block;
    width: 80%;
    margin: 10px auto;
  }

  .inktank_mockup2 {
    width: 70%;
  }

  .prototype_evolution {
    display: block;
    width: 80%;
    margin: auto;
  }

  .style_guide {
    display: block;
    width: 80%;
    margin: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}
