/*
Colours used:
Primary Colour (White): #ffffff;
Primary Colour (Off Black): #1d1d1b;
Secondary Colour (Turquoise): #00ffed;
Secondary Colour (Neon Green): #00ff80;
Inktank Background Colour (Rose): #faf3eb;
Inktank Font Colour (Dark Rose): #e4d0c7;
Inktank Font Colour (Light Brown, replacement for Dark Rose > accessibility): #a78678;
Resolute. Font Colour (Light Grey): #f5f5f5;
Resolute. Font Colour (Turquoise): #02cbcb;
Resolute. Background Colour (Turquoise): #86e6e6;
Resolute. Background Colour (Light Grey): #f5f5f5;
*/
* {
  box-sizing: border-box;
}

/* setting the default width of an element to include the padding and the border */
body {
  background-color: #fff;
  font-family: 'Muli', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  /* Sets the font size to 14px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #1d1d1b;
}

img {
  width: 100%;
}

h1,
h2 {
  font-family: 'Libre Baskerville', serif;
  line-height: 1.4;
}

h3,
h4,
p,
a,
ul,
ol {
  font-family: 'Muli', sans-serif;
  line-height: 1.4;
}

p,
a,
ul,
ol {
  font-weight: 200;
}

h1 {
  font-size: 1.95em;
  font-weight: 400;
}

h2 {
  font-size: 1.55em;
  font-weight: 400;
  border-bottom: 16px solid #00ff80;
  display: inline-block;
  height: 32px;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
  padding-top: 15px;
}

h4 {
  font-size: 0.75em;
  font-weight: 300;
}

ul,
ol {
  padding-left: 20px;
}

b {
  font-weight: 700;
}

.center {
  text-align: center;
}

a {
  display: inline-block;
  color: #1d1d1b;
  text-decoration: none;
  /* No underlining */
  border-bottom: 8px solid #00ff80;
  height: 18px;
  transition-duration: 0.2s;
}

a:hover {
  color: #1d1d1b;
  text-decoration: none;
  /* No underlining */
  border-bottom: 8px solid #00ffed;
  height: 18px;
}

a:active,
a:focus {
  /* selected link */
  font-weight: 700;
}

.picture_link,
.picture_link:hover,
.picture_link:focus {
  border-bottom: none;
}

.logo,
.logo:hover {
  border-bottom: none;
  /* no border like a */
}

.navigation {
  color: #929292 !important;
  border-bottom: none;
}

.navigation:hover {
  color: #1d1d1b !important;
  border-bottom: 10px solid #00ffed;
  height: 23px;
}

.navigation:focus {
  font-weight: 200;
  border-bottom: 10px solid #00ffed;
}

.icon:focus,
.icon:hover,
.icon {
  border-bottom: none;
}

.button,
.button_cv {
  display: inline;
  background-color: #fff;
  font-weight: 700;
  padding: 10px;
  border: 3px solid #1d1d1b;
  transition-duration: 0.2s;
}

.button:visited,
.button_cv:visited {
  /* visited link */
  background-color: #fff;
  color: #1d1d1b;
}

.button:hover,
.button_cv:hover {
  background-color: #1d1d1b;
  border: 3px solid#1d1d1b;
  color: #fff !important;
}

.button:active,
.button:focus,
.button_cv:active,
.button_cv:focus {
  background-color: #fff;
  color: #1d1d1b !important;
  border-bottom: 3px solid #1d1d1b;
}

/* MAIL TO / copy to clipboard */
.mailto-link {
  position: relative;
}

.mailto-message {
  background: #1d1d1b;
  color: white;
  font-size: 13px;
  font-weight: bold;
  top: 1px;
  left: 50%;
  margin-bottom: -5px;
  transform: translate(-50%, -100%);
  position: absolute;
  display: none;
  width: auto;
  white-space: nowrap;
  padding: 4px 8px;
  border-radius: 4px;

  &:after {
    content: '';
  }
}

.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
  display: block;
}

/* TOOLTIPS */
#tooltip {
  background: #1d1d1b;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
}

#tooltip {
  /* ... */
  display: none;
}

#tooltip[data-show] {
  display: block;
}

header {
  z-index: 1; /*header stays above prototypes and videos when scrolling*/
  background-color: #fff;
  padding: 10px 0 4px;
  box-shadow: 0 3px 20px 0 rgba(50, 50, 50, 0.15);
  position: fixed;
  /* header stays in position when scrolling */
  width: 100%;
}

/* Layout styling */
.container {
  padding: 0 15px
    /* overall padding for the website */
}

.row {
  margin: 25px 0;
}

.logo {
  max-width: 150px;
}

.navtoggle li:not(:last-child) {
  display: none;
  /* hides navigation except hamburger */
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 20px;
}

.navtoggle.responsive li {
  display: block;
  /* shows complete menu when hamburger has been clicked */
}

.navtoggle.responsive nav {
  text-align: center;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  text-transform: uppercase;
  color: #1d1d1b;
}

main {
  padding-top: 59.5px;
}

footer {
  background-color: #fafafa;
  text-align: center;
  padding: 30px 0 15px;
}

footer .icon {
  width: 48px;
  margin: 6px;
  /* size of social icons */
}

/* /////////////// INDEX modifications /////////////// */
#work .row {
  margin-bottom: 50px;
}

#work {
  margin-top: 20px;
}

#hero {
  text-align: center;
  background-color: #fafafa;
  padding: 25px 0;
  display: inline-block;
  width: 100%;
}

.inktank_logo {
  margin-top: 25px;
  max-width: 100px;
}

.resolute_logo {
  margin-top: 25px;
  max-width: 120px;
}

/* /////////////// ABOUT modifications /////////////// */
.profile_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#skills_tools .row {
  margin-top: 0;
}

/* /////////////// CONTACT modifications /////////////// */
#contact {
  text-align: center;
  padding: 80px 0
}

#contact_footer {
  position: absolute;
  bottom: 0;
  width: 100%
    /* footer always placed at bottom of page not matter length of content */
}

/* /////////////// INKTANK modifications /////////////// */

#inktank a {
  text-decoration: underline;
  border-bottom: none;
}

#inktank a:hover {
color: #a78678;
text-decoration: underline #a78678;
}

#inktank h2 {
  font-family: 'Muli';
  line-height: 1.4;
  color: #a78678;
  font-weight: 800;
  font-size: 3em;
  margin-top: 20px;
  border-bottom: none;
}

#inktank h3 {
  font-family: 'Libre Baskerville';
  line-height: 1.4;
  color: #1d1d1b;
  font-weight: 300;
  font-size: 1.1em;
}

#inktank_colour_1 .row {
  margin-top: 0;
}

#inktank_colour_1,
#inktank_colour_3,
#inktank_colour_5,
#inktank_colour_7,
#inktank_colour_9,
#inktank_colour_11 {
  background-color: #faf3eb;
  padding: 30px 0;
}

#inktank_colour_2,
#inktank_colour_4,
#inktank_colour_6,
#inktank_colour_8,
#inktank_colour_10,
#inktank_colour_12 {
  background-color: #fff;
  padding: 30px 0;
}

#inktank .intro_title {
  text-align: center;
}

#inktank .inktank_logo {
  max-width: 170px;
}

.tagline {
  margin-top: 15px;
}

.inktank_mockup1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 60%;
}

.intro_description_l {
  display: none;
}

.prototype_evolution_gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}

video {
  margin: 60px 0 30px;
  display: block;
  width: 100%;
}

.prototype_evolution {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.inktank_mockup2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#inktank_colour_11 {
  display: none;
}

#inktank .thank_you {
  font-size: 2em;
  font-weight: 800;
  color: #a78678;
}

/* /////////////// RESOLUTE modifications /////////////// */

#resolute a {
  text-decoration: underline;
  border-bottom: none;
}

#resolute a:hover {
color: #f5f5f5;
text-decoration: underline #f5f5f5;
}

#resolute h2 {
  font-family: 'Muli';
  line-height: 1.4;
  color: #e4d0c7;
  font-weight: 800;
  font-size: 3em;
  margin-top: 20px;
  border-bottom: none;
}

#resolute h3 {
  font-family: 'Libre Baskerville';
  line-height: 1.4;
  color: #1d1d1b;
  font-weight: 300;
  font-size: 1.1em;
}

#resolute_colour_1 .row {
  margin-top: 0;
}

#resolute_colour_1,
#resolute_colour_3,
#resolute_colour_9,
#resolute_colour_10,
#resolute_colour_11,
#resolute_colour_12 {
  background-color: #f5f5f5;
  padding: 30px 0;
}

#resolute_colour_2,
#resolute_colour_5,
#resolute_colour_7,
#resolute_colour_8 {
  background-color: #86e6e6;
  padding: 30px 0;
}

#resolute_colour_4 {
  background-image: linear-gradient(#f5f5f5 75%, #86e6e6 13%);
  padding: 30px 0;
}

#resolute_colour_6 {
  background-image: linear-gradient(#86e6e6 45%, #f5f5f5 20%, #f5f5f5 81%, #86e6e6 10%);
  padding: 30px 0;
}

#resolute_colour_9 {
  background-image: linear-gradient(to top, #f5f5f5 63%, #86e6e6 13%);
  padding: 30px 0;
}

#resolute_colour_2 h2,
#resolute_colour_4 h2,
#resolute_colour_5 h2,
#resolute_colour_6 h2,
#resolute_colour_7 h2,
#resolute_colour_8 h2,
#resolute_colour_9 h2 {
  color: #f5f5f5;
}

#resolute_colour_3 h2,
#resolute_colour_4 h2,
#resolute_colour_10 h2,
#resolute_colour_11 h2 {
  color: #02cbcb;
}

#resolute .intro_title {
  text-align: center;
}

#resolute .resolute_logo {
  max-width: 200px;
}

.resolute_mockup_1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 80%;
}

.resolute_gif {
  display: block;
  margin: 30px auto;
  width: 70%;
}

.resolute_mockup_3 {
  display: block;
  margin: 60px auto 0;
}

#resolute .thank_you {
  font-size: 2em;
  font-weight: 800;
  color: #02cbcb;
}

#resolute_colour_11 {
  display: none;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  /* /////////////// GENERAL modifications /////////////// */
  .container {
    padding: 0 30px;
    /* overall padding for the website */
  }

  header {
    text-align: unset;
    padding: 22px 0 12px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
    padding: 0 0 0 25px;
    /* makes navigation visible again */
  }

  .navtoggle li:last-child {
    display: none;
    /* hides hamburger menu */
  }

  nav {
    width: auto;
    float: right;
    padding-top: 8px;
  }

  a {
    border-bottom: 10px solid #00ff80;
    height: 23px;
  }

  a:hover,
  a:focus {
    border-bottom: 10px solid #00ffed;
    height: 23px;
  }

  main {
    padding-top: 80px;
  }

  body {
    font-size: 18px;
  }

  h2 {
    border-bottom: 20px solid #00ff80;
    display: inline-block;
    height: 40px;
  }

  #work p,
  #work a,
  #contact p,
  #contact a,
  #contact_footer p,
  #about p,
  #about a,
  #about ul,
  #inktank p,
  #inktank ul,
  #inktank ol,
  #resolute p,
  #resolute ul,
  #resolute ol {
    font-size: 0.8em;
  }

  .footer p {
    font-size: 0.8em;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.67%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* /////////////// INDEX modifications /////////////// */
  #hero span {
    display: block;
  }

  /* /////////////// ABOUT modifications /////////////// */
  #skills_tools .col-md-6 {
    padding-left: 60px;
  }

  /* /////////////// CONTACT modifications /////////////// */
  #contact {
    text-align: center;
    padding: 110px 0
  }

  #contact p {
    margin-top: 40px;
  }

  /* /////////////// INKTANK modifications /////////////// */
  #inktank h2 {
    font-size: 4.5em;
  }

  #inktank h3 {
    font-size: 0.8em;
  }

  #inktank_colour_11 {
    display: block;
  }

  #inktank_colour_12 {
    background-color: #faf3eb;
  }

  #inktank_colour_1,
  #inktank_colour_2,
  #inktank_colour_3,
  #inktank_colour_4,
  #inktank_colour_5,
  #inktank_colour_6,
  #inktank_colour_7,
  #inktank_colour_8,
  #inktank_colour_9,
  #inktank_colour_10,
  #inktank_colour_11,
  #inktank_colour_12 {
    padding-bottom: 50px;
  }

  #inktank_colour_1 {
    padding-top: 50px;
  }

  #inktank_colour_1 .row {
    margin-bottom: 0;
  }

  #inktank_colour_1 .col-md-7 {
    padding-left: 0;
  }

  #inktank_colour_1 .col-md-5 {
    padding-right: 0;
  }

  #my_role {
    padding-left: 0;
  }

  #tools {
    padding-left: 45px;
  }

  #inktank .inktank_logo {
    max-width: 220px;
  }

  #inktank .intro_title {
    text-align: unset;
    display: block;
    margin-top: 60px;
    margin-left: 20px;
  }

  .inktank_mockup1 {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
  }

  .intro_description_s {
    margin-top: 40px;
  }

  .prototype_evolution_gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  video {
    display: block;
    height: 365px;
    width: 100%;
  }

  #inktank_colour_3 .row {
    margin: 0;
  }

  #inktank_colour_8 .row {
    margin: 0;
  }

  #inktank_colour_10 .row {
    margin: 0;
  }

  #inktank_colour_8 .col-lg-7,
  #inktank_colour_10 .col-lg-7 {
    padding: 0;
  }

  .affinity_map_1 {
    display: block;
    width: 95%;
    margin: 0 auto;
  }

  .inktank_card_sort {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .sitemap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .affinity_map_2 {
    display: block;
    width: 95%;
    margin: 0 auto;
  }

  .inktank_mockup2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  #demo {
    height: 378px;
    width: 627px;
  }

  #inktank .thank_you {
    font-size: 2.5em;
  }

  /* /////////////// RESOLUTE modifications /////////////// */
  #resolute h2 {
    font-size: 4.5em;
  }

  #resolute h3 {
    font-size: 0.8em;
  }

  #resolute .resolute_logo {
    max-width: 230px;
    margin-top: 30px;
  }

  #resolute .intro_title {
    text-align: unset;
    display: block;
    margin-top: 60px;
  }

  .resolute_mockup_1 {
    display: none;
  }

  #resolute_colour_1 {
    padding: 0;
    background-image: linear-gradient(#f5f5f5 24.5%, #86e6e6 13%);
    background-size: 100%;
    background-position: center center;
  }

  #resolute_colour_1 .container {
    padding-bottom: 10px;
    background-image: url('../img/project_resolute./resolute_mockup_1@1x.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 100% 30%;
  }

  #resolute_colour_2 .row {
    margin: 0;
  }

  #resolute_colour_2 {
    padding-top: 0;
    padding-bottom: 60px;
  }

  .resolute_research {
    display: none;
  }

  #resolute_colour_3 .row {
    margin-top: 130px;
  }

  #resolute_colour_3 .container {
    padding-bottom: 200px;
    background-image: url('../img/project_resolute./resolute_research_640@2x.png');
    background-repeat: no-repeat;
    background-size: 520px;
    background-position: 100% 85%;
  }

  .resolute_user_flows {
    display: none;
  }

  #resolute_colour_4 {
    background-image: linear-gradient(#f5f5f5 70%, #86e6e6 13%);
  }

  #resolute_colour_4 .container {
    padding-bottom: 120px;
    background-image: url('../img/project_resolute./resolute_user_flows_640@2x.png');
    background-repeat: no-repeat;
    background-size: 420px;
    background-position: 100% 90%;
  }

  #resolute_colour_6 {
    background-image: linear-gradient(#86e6e6 32%, #f5f5f5 20%, #f5f5f5 80%, #86e6e6 10%);
  }

  #resolute_colour_11 {
    display: block;
    /* makes background colour visible */
  }

  /* Resolute. protoype */
  #main {
    justify-content: center;
    align-items: center;
  }

  #iphone-x {
    position: relative;
    margin: 40px auto;
    width: 375px;
    height: 812px;
    border-radius: 40px;
    background-color: #1f1f1f;
    box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111, 8px 8px 40px #000;
    overflow: hidden;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    // frontal camera/speaker frame
    &:before {
      top: 0px;
      width: 56%;
      height: 30px;
      background-color: #1f1f1f;
      border-radius: 0px 0px 40px 40px;
    }

    // speaker
    #speaker {
      position: absolute;
      top: 0px;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, 6px);
      height: 8px;
      width: 15%;
      background-color: #101010;
      border-radius: 8px;
      box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
    }

    // camera
    #camera {
      position: absolute;
      left: 10%;
      top: 0px;
      z-index: 3;
      transform: translate(180px, 4px);
      width: 12px;
      height: 12px;
      background-color: #101010;
      border-radius: 12px;
      box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);

      &:after {
        content: '';
        position: absolute;
        background-color: #2d4d76;
        width: 6px;
        height: 6px;
        top: 2px;
        left: 2px;
        top: 3px;
        left: 3px;
        display: block;
        border-radius: 4px;
        box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
      }
    }
  }

  #resolute .thank_you {
    font-size: 2.5em;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  /* /////////////// GENERAL modifications /////////////// */
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  main .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  #work p,
  #work a,
  #contact p,
  #contact a,
  #contact_footer p,
  #about p,
  #about a,
  #about ul,
  #inktank p,
  #inktank ul,
  #inktank ol,
  #resolute p,
  #resolute ul,
  #resolute ol {
    font-size: 0.9em;
  }

  .footer p {
    font-size: 0.9em;
  }

  .logo {
    max-width: 200px;
  }

  nav {
    padding-top: 16px;
  }

  main {
    padding-top: 95px;
  }

  footer {
    padding: 30px 0 15px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.67%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  /* /////////////// INDEX modifications /////////////// */
  #hero {
    padding: 50px 80px;
  }

  #work {
    display: block;
    margin: 40px 0;
  }

  .inktank_logo {
    margin-top: 70px;
    margin-bottom: 30px;
    max-width: 180px;
  }

  .resolute_logo {
    margin-top: 70px;
    margin-bottom: 30px;
    max-width: 210px;
  }

  /* /////////////// ABOUT modifications /////////////// */
  .profile_image {
    padding-top: 20px;
    width: 60%;
  }

  #skills_tools .col-md-6 {
    padding-left: 180px;
  }

  /* /////////////// INKTANK modifications /////////////// */
  #inktank h2 {
    font-size: 6.5em;
  }

  #inktank h3 {
    font-size: 1em;
    margin-top: 40px;
  }

  #inktank_colour_1 {
    padding: 60px 0 80px;
  }

  #inktank_colour_3,
  #inktank_colour_5,
  #inktank_colour_7,
  #inktank_colour_9,
  #inktank_colour_11,
  #inktank_colour_12 {
    padding-bottom: 80px;
    width: 100%;
  }

  #inktank_colour_2,
  #inktank_colour_4,
  #inktank_colour_6,
  #inktank_colour_8,
  #inktank_colour_10 {
    background-color: #fff;
    padding-bottom: 80px;
    width: 100%;
  }

  #inktank_colour_1 .col-lg-6 {
    padding-left: 0;
  }

#inktank .intro_title {
    margin-left: 0;
  }

  #inktank .inktank_logo {
    margin-top: 25px;
    max-width: 300px;
  }

  .intro_description_l {
    display: unset;
    display: block;
    margin-top: 120px;
  }

  .intro_description_s {
    display: none;
  }

  .inktank_mockup1 {
    display: block;
    width: 85%;
    margin: auto;
  }

  #tools {
    margin-top: 0;
    padding-left: 62px;
  }

  video {
    display: block;
    height: 530px;
    width: 100%;
  }

  #inktank_colour_3 .potential_solutions {
    margin-left: 390px;
  }

  .quotes_1,
  .quotes_2 {
    display: block;
    margin: auto;
    width: 80%;
  }

  .user_flow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .inktank_card_sort {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 30px;
  }

  .sitemap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  #inktank_colour_8 .test_objectives {
    margin-left: 390px;
  }

  .inktank_mockup2 {
    width: 40%;
  }

  .prototype_evolution {
    display: block;
    width: 95%;
    margin: auto;
  }

  #inktank_colour_10 .improvements {
    margin-left: 390px;
  }

  #invision {
    border: none;
  }

  /* /////////////// RESOLUTE. modifications /////////////// */
  #resolute h2 {
    font-size: 6.5em;
  }

  #resolute h3 {
    font-size: 1em;
    margin-top: 40px;
  }

  #resolute .resolute_logo {
    margin-top: 160px;
    max-width: 330px;
  }

  #resolute .intro_title {
    margin-top: 0;
  }

  .resolute_intro_description {
    padding-top: 30px;
  }

  #resolute_colour_1 {
    background-image: linear-gradient(#f5f5f5 27%, #86e6e6 13%);
  }

  #resolute_colour_1 .container {
    padding-bottom: 100px;
    background-image: url('../img/project_resolute./resolute_mockup_1@2x.png');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 100% 50%;
  }

  #resolute_colour_3 .row {
    margin-top: 230px;
  }

  #resolute_colour_3 .container {
    padding-bottom: 320px;
    background-image: url('../img/project_resolute./resolute_research@2x.png');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 100% 100%;
  }

  #resolute_colour_4 .row {
    margin-top: 50px;
  }

  #resolute_colour_4 {
    background-image: linear-gradient(#f5f5f5 70%, #86e6e6 13%);
  }

  #resolute_colour_4 .container {
    padding-bottom: 280px;
    background-image: url('../img/project_resolute./resolute_user_flows@2x.png');
    background-repeat: no-repeat;
    background-size: 730px;
    background-position: 100% 100%;
  }

  #resolute_colour_6 {
    background-image: linear-gradient(#86e6e6 26%, #f5f5f5 20%, #f5f5f5 79%, #86e6e6 10%);
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}
